body {
  text-align: center;
  margin: 0 auto;
  background-color: lemonchiffon;
}

.infobox {
  display: grid;
  grid-template: 1fr / 1fr 1fr 1fr 1fr;
  margin: 25px auto;
  /* border: 1px solid black; */
  background-color: white;
  height: 100px;
  width: 400px;
}

#grid {
  background-color: darkslategray;
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
  height: 500px;
  width: 500px;
  margin: 0 auto;
  grid-gap: 10px;
}

.empty {
  background-color: white;
}

.xfilled {
  background-color: aquamarine;
}

.ofilled {
  background-color: dodgerblue;
}